Библиотеки, нужные для проекта:
import telebot
import random
import os
from dotenv import load_dotenv
from telebot.types import InlineKeyboardMarkup, InlineKeyboardButton
import threading
import time
