Библиотеки, нужные для проекта:
import telebot # сам бот проекта
import random # нужен для случайных фактов
import os # техническое назначение
from dotenv import load_dotenv # для загрузки вашего TG_API_TOKEN из .env
from telebot.types import InlineKeyboardMarkup, InlineKeyboardButton # для кнопок
import threading # таймер для мини-игры
import time # тоже таймер
import json # для авто-сохранения
